<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Basics">
	<!-- <groups>
		<run>
			<include name="SmokeTest"></include>
		</run>
	</groups>
	<test name="Annotations">
		<classes>
			<class name="testNG.basics.TestNGAnnotations"></class>
			<class name="testNG.basics.TestNGAssertions"></class>
		</classes>
	</test>

	<test name="TestNG Parameters">
		<parameter name="UserNameValue" value="shaiq@tekschool.us"></parameter>
		<parameter name="passwordValue" value="Tek@12345"></parameter>
		<classes>
			<class name="testNG.basics.TestNGParameters"></class>
		</classes>
	</test>-->
	<test name="TestNG Parameters">
		<parameter name="UserNameValue" value="phantom.test@gmail.com"></parameter>
		<parameter name="passwordValue" value="Tek@12345"></parameter>
		<classes>
			<class name="testNG.basics.JDBCTest"></class>
		</classes>
	</test>
</suite>